.section {
    background: url(https://bitbucket.org/mangobits/mbnsite/raw/3e8e23cb62080ddead4804df02c0bab1a677c314/src/assets/images/bg/mask-blue.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

