<div class="account">
  <div class="container">
    <div class="section__header">
       <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-0">
                <h2 class="title-section">Meus anúncios</h2>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-0">
              <div class="form-actions" style="display: flex; align-items: flex-end;height: 57px; justify-content: center;">
                  <div class="text-center">
                    <button type="submit" class="btn btn-round btn-primary btn-lg" style="display: inline-block; width: 200px;" (click)="handleCheckRegister()">+ Criar novo anúncio</button>
                  </div>
              </div>
            </div>
          </div>
    </div>

    <br><br><br>
    <div class="section__body" *ngFor="let advert of adverts" style="margin-bottom: 80px;">
       <div class="row">
          <div class="col-md-7 col-sm-7 col-sm-offset-2 col-md-offset-2">
            <div class="row">
              <div class="col-md-5 col-sm-5">
                <img [src]="getImageServicesFeatured(advert?.id, advert?.gallery[0]?.id)" class="img-circle img-responsive" style="height: 254px;" alt="">
              </div>

              <div class="col-md-7 col-sm-7">
                <div class="advert">
                   <div class="advert__header">
                     <h3 class="advert__title">{{ advert.name }}</h3>
                    </div>

                    <div class="advert__rating">
                      <span class="advert__label">80 avaliações</span>

                      <div class="advert__stars">
                          <i class="fas fa-star icon-green"></i>
                          <i class="fas fa-star icon-green"></i>
                          <i class="fas fa-star icon-green"></i>
                          <i class="fas fa-star icon-green"></i>
                          <i class="fas fa-star icon-green"></i>
                      </div>
                    </div>

                  <div class="advert__ranking">
                    <div class="advert__ranking--round">
                      <span class="advert__label">Ranking</span>
                      <span class="advert__value">584</span>
                    </div>
                  </div>

                  <div class="advert__status">
                    <span class="advert__label--status">Publicado</span>
                    <span class="advert__label">Atualização em 10 de junho de 2018</span>
                  </div>

                  <div class="advert__panel">
                    <ul class="advert__menu">
                      <li class="advert__menu-item">
                        <figure class="advert__menu-figure">
                          <img src="assets/images/icones/edit.png" alt="">
                          <figcaption class="advert__menu-caption advert__label">Edit</figcaption>
                        </figure>
                      </li>

                      <li class="advert__menu-item">
                        <figure class="advert__menu-figure">
                          <img src="assets/images/icones/eye.png" alt="">
                          <figcaption class="advert__menu-caption advert__label">Ver</figcaption>
                        </figure>
                      </li>

                      <li class="advert__menu-item">
                        <figure class="advert__menu-figure">
                          <img src="assets/images/icones/click.png" alt="">
                          <figcaption class="advert__menu-caption advert__label">Publicar</figcaption>
                        </figure>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
       </div>

       <hr>
    </div>


    <div *ngIf="adverts.length < 1" class="section">
      <br>
      <h1 class="h1 text-center" style="color: #337ab7;">Ainda não há nenhum anúncio cadastrado :(</h1>
      <br>
      <br>
    </div>


    <section class="section section-sac">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-8">
                    <div class="">
                      <h3 class="title-large">Precisa de ajuda?</h3>

                      <p class="text-support">Estamos aqui para ajudá-lo</p>
                      <p class="text-support">Entre em contato por telefone, email ou redes sociais</p>
                    </div>
                </div>

                <div class="col-md-4">
                  <div class="support">
                      <br><br><br><br><br><br>
                      <button class="btn btn-round btn-support">Suporte</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </section>
  </div>
</div>
