
<div class="categories">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 col-ls-12">
            <div class="categories__header">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <div class="search__bar mb-4">
                          <input class="search__input" placeholder="Encontrar no MyBuildingNet" #search (input)="true">
                          <i class="fas fa-search fa-2x icon-search"></i>
                      </div>

                      <div class="search__results" *ngIf="search.value.length > 1">
                        <p class="blockquote search-t">Resultado de busca para <span class="search-t__term">"{{ search.value }}"</span></p>
                      </div>
                  </div>
                </div>
            </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 col-xs-12 col-lg-12">
        <div class="feed-top">
          <div class="row">

            <div class="col-md-8 col-md-offset-2">
              <div class="filters-selected">
                <ul class="filters-selected__list">
                  <li class="filters-selected__item mb-2" *ngFor="let filter of filters" (click)="removeFilter(filter)">
                    <a class="filters-selected__link">{{ filter.name }}</a>
                    <i class="fas fa-times fa-close-filters"></i>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="feed-products">
      <div class="row" style="overflow: hidden">
        <div class="col-md-3 col-xs-12 col-lg-3">
            <div class="filter-sidebar" #feedSidebar>

              <div class="tab">
                  <h3 class="title-filters">Filtrar</h3>
              </div>


              <div class="tab">
                <input id="tab-one" type="checkbox" name="tabs">
                <label for="tab-one">Preço</label>
                <div class="tab-content">
                  <ul class="filter-list">
                   <li  *ngFor="let price of listPrice"
                        (click)="addFilters(price)"
                        (click)="price.select = !price.select"
                        (click)="parseFilter()"
                        [ngClass]="price.select ? 'selected' : ''"
                        >
                     <label class="checkbox-container">
                       <span class="checkmark"></span>
                        <span for="maior" class="filter-value">{{ price.name }}</span>
                      </label>
                   </li>
                 </ul>
                </div>
              </div>

              <div class="tab">
                <input id="tab-three" type="checkbox" name="tabs">
                <label for="tab-three">Abrangência</label>
                <div class="tab-content">
                  <p>Em breve</p>
                </div>
              </div>

              <div class="tab">
                <input id="tab-four" type="checkbox" name="tabs">
                <label for="tab-four">Idioma</label>
                <div class="tab-content">
                  <ul class="filter-list">
                   <li *ngFor="let language of listLanguage"
                        (click)="addFilters(language)"
                        (click)="parseFilter()"
                        [ngClass]="language.select ? 'selected' : ''"
                        (click)="setClass($event)">
                     <label class="checkbox-container">
                        <span for="maior" class="filter-value">{{ language.name }}</span>
                      </label>
                   </li>
                 </ul>
                </div>
              </div>

              <div class="tab">
                <input id="tab-five" type="checkbox" name="tabs">
                <label for="tab-five">Referência</label>
                <div class="tab-content">
                  <ul class="filter-list">
                   <li  *ngFor="let reference of listReference"
                        (click)="addFilters(reference)"
                        (click)="parseFilter()"
                        [ngClass]="reference.select ? 'selected' : ''"
                        (click)="setClass($event)">
                     <label class="checkbox-container">
                        <span for="maior" class="filter-value">{{ reference.name }}</span>
                      </label>
                   </li>
                 </ul>
                </div>
              </div>

              <div class="tab">
                <input id="tab-six" type="checkbox" name="tabs">
                <label for="tab-six">Prazo</label>
                <div class="tab-content">
                  <ul class="filter-list">
                   <li  *ngFor="let term of listTerm"
                        (click)="addFilters(term)"
                        (click)="term.select = !term.select"
                        (click)="parseFilter()"
                        [ngClass]="term.select ? 'selected' : ''"
                        >
                     <label class="checkbox-container">
                       <span class="checkmark"></span>
                        <span for="maior" class="filter-value">{{ term.name }}</span>
                      </label>
                   </li>
                 </ul>
                </div>
              </div>

            </div>
        </div>
        <div class="col-md-9 col-xs-12" *ngIf="serviceList.length > 0">
          <div class="catalogue">
            <div *ngFor="let service of serviceList" class="col-lg-4 col-md-4 col-xs-6 nopadding">
              <!-- <app-product [product]="product" [idUser]="idUser" (favorProduct)="onfavoriteProduct(product)"></app-product> -->
              <div class="card" [routerLink]="['/advert', service.id]" style="cursor: pointer;">
                <div class="card__image">
                  <img class="img-responsive" [src]="getImageServicesFeatured(service?.id, service?.gallery[0]?.id)" style="height: 240px;">
                </div>

                <div class="card__footer">
                    <i class="fas fa-star icon-green"></i>
                    <i class="fas fa-star icon-green"></i>
                    <i class="fas fa-star icon-green"></i>
                    <i class="fas fa-star icon-green"></i>
                    <i class="fas fa-star icon-green"></i>
                </div>

                <div class="card__name">
                  <span class="card__name__text text-center">{{ service.name }}</span>
                </div>
            </div>
            </div>
          </div>
              <div class="custom-pagination" [hidden]="true">
                  <div class="pagination-previous">
                      <a> < Anterior </a>
                  </div>
                  <div class="pagination-next">
                      <a> Próximo ></a>
                  </div>
              </div>
        </div>

        <div class="col-md-9 col-xs-12" *ngIf="serviceList.length == 0">
          <div class="catalogue-notfound">
            <p>Sua busca não retornou resultados <i class="far fa-frown fa-3x"></i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
