.categories {
    margin-top: 70px;
}

.categories__header {
    margin-bottom: 30px;
}

.feed-top {
    margin-bottom: 30px;
}

.card {
    padding: 8px;
    .card__image {
        img {
            width: 100%;
        }
    }

    .card__footer {
        text-align: center;
        background: #FFF;
        padding: 10px 2px;
    }

    .card__name {
        background: #FFF;
        padding-bottom: 18px;
        .card__name__text {
            font-size: 1.5rem;
            display: block;
        }
    }
}

.icon-green {
    color: #3ca7a5;
    margin: 2px;
}


.search__bar {
    display: flex;
    align-items: center;
    width: 90%;
    border-bottom: 2px solid #c1c1c1;
    padding: 0 10px;
    margin: auto;
}

.icon-search {
    color: #2a6188;
}

.search__results {
  margin-top: 20px;
}

.search-t {
  font-size: 1.8rem;
  margin-left: 40px;
  font-weight: 100;
}

.search-t__term {
  color: #337ab7;
  font-size: 2rem;
  font-weight: 500;
}

.search__input {
    border: none;
    background: transparent;
    padding: 8px;
    width: 100%;
    outline: none;
    font-size: 1.8rem;
    color: #2a6188;
}

.search__input::-webkit-input-placeholder{
    color: #2a6188;
    font-style: bolder;
    text-align: center;
    font-size: 2rem
}

.search__input::-moz-placeholder {
    color: #2a6188;
    font-style: bolder;
    text-align: center;
    font-size: 2rem
}

.filters-selected__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.mb-2 {
  margin-bottom: 10px;
}

.filters-selected__item {
    background: #FFF;
    padding: 2px 10px;
    border-radius: 20px;
    color: #c1c1c1;
    font-size: 1.6rem;
    cursor: pointer;
    border: 1px solid #c1c1c1;
}

.filters-selected__item:not(:last-child) {
    margin-right: 15px;
}

.filters-selected__link {
    color: #c1c1c1;
    font-weight: bold;
}

.fa-close-filters {
    color: #c1c1c1;
    margin-left: 8px;
}

/* Accordion */

/* Acordeon styles */

.filter-list li {
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
}

.filter-sidebar {
    border-right: 1px solid #c1c1c1;
}

.title-filters {
    color: #2a6188;
    font-weight: bolder;
    font-size: 1.8rem;
}

.filter-list li .filter-value.selected {
  background: #c1c1c1;
  color: #FFF;
}
.tab {
    position: relative;
    margin-bottom: 1px;
    width: 85%;
    color: #395d75;
    overflow: hidden;
    border-bottom: 1px solid #c1c1c1;
  }

  .filter-list li:first-child {
    margin-top: 10px;
  }
  
  .filter-list li .filter-value {
    padding: 2px 8px 2px 8px;
    border-radius: calc(5px + 15px);
  }
  .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .tab label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #FFF;
    font-weight: 500;
    line-height: 2;
    cursor: pointer;
    font-size: 1.8rem;
    color: #335f7c;
  }

  .tab-content {
    max-height: 0;
    overflow: hidden;
    background: #FFF;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
  }

  .tab-content p {
    margin: 1em;
  }

  /* :checked */
  .tab input:checked ~ .tab-content {
    max-height: 100vh;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  /* Icon */
  .tab label::after {
    position: absolute;
    right: 0;
    top: -36px;
    display: block;
    /* width: 3em; */
    height: 3em;
    line-height: 3;
    text-align: center;
    transition: all .35s;
    font-size: 3.5rem;
    font-weight: 100;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }

  .tab input[type=checkbox] + label::after {
    content: "+";
  }

  .tab input[type=radio] + label::after {
    content: "\25BC";
  }

  .tab input[type=checkbox]:checked + label::after {
    /* transform: rotate(315deg); */
    content: "-";
    top: -41px !important;
  }

  .tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
  }

  .filter-value {
    font-size: 1.6rem; 
    margin-left: 18px;
    display: block;
    position: relative;
    bottom: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-orientation: upright;
  }
/* List filters */

.filter-item {
  display: flex;
  justify-content: center;
}

.filter-item input[type="checkbox"] {
  display: block !important;
    position: static;
    opacity: 1;
    z-index: 1;
}

.filter-item span {
  font-size: 1.8rem;
  color: #335f7c;
  margin-left: 15px;
}

.selected .checkmark {
  border: 1px solid #324b98;
  background: #324b98;
  &:after {
    display: block;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  background-color: #fff;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  &:after {
    content: "";
    position: absolute;
    display: none;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 14px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

  @media(max-width: 500px) {
    .filter-sidebar {
        border-right: none;
    }

    .title-filters {
        color: #2a6188;
        font-weight: bolder;
        font-size: 1.6rem;
    }

    .tab {
        position: relative;
        margin-bottom: 1px;
        width: 100%;
        color: #395d75;
        overflow: hidden;
        border-bottom: 1px solid #c1c1c1;
      }
  }
  
