<div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="info-header">
            <h2 class="title-page text-center">Fazer login</h2>
  
            <p class="info-description text-center">
              Seja bem vindo ao <strong>MyBuildingNet</strong>,
              se você já possui uma conta, insira seus dados
            </p>
          </div>
  
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="form-account">
            <form class="form" [formGroup]="form" (submit)="login()">
                <div class="form-body">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <fieldset class="form-group">
                              <label class="input-label">Email</label>
                              <input type="text" class="form-control input-form" formControlName="email" [(ngModel)]="user.email">
                              <small class="form-text text-muted danger"
                              *ngIf="!form.get('email').valid && (form.get('email').dirty || form.get('email').touched)">
                                  Campo obrigatório
                            </small>
                            </fieldset>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <fieldset class="form-group">
                              <label class="input-label">Senha</label>
                              <input type="password" class="form-control input-form" formControlName="password" [(ngModel)]="user.password">
                              <small class="form-text text-muted danger"
                                *ngIf="!form.get('password').valid && (form.get('password').dirty || form.get('password').touched)">
                                    Campo obrigatório
                              </small>
                            </fieldset>
                          </div>
                      </div>
                  </div>
  
                  <div class="form-actions" style="margin-top: 20px;">
                      <div class="text-center">
                        <button [disabled]="!form.valid" type="submit" class="btn btn-round btn-primary btn-lg" style="display: inline;">Entrar</button>
                      </div>
                  </div>

                  <div class="form-actions">
                      <div class="text-center">
                        <a [routerLink]="['/forgotpassword']" class="text-link">Esqueci a senha</a>
                      </div>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>