<div class="account">
  <div class="container">
    <div class="section__header">
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <h2 class="title-section">Novo anúncio</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <div class="section__menu">
                  <ul class="menu-ad">
                    <li class="menu-ad__item">
                      <a class="menu-ad__link">Configurações de preço</a>
                    </li>

                    <li class="menu-ad__item">
                      <a class="menu-ad__link">Detalhes do anúncio</a>
                    </li>

                    <li class="menu-ad__item">
                      <a class="menu-ad__link active">Abrangência</a>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section__body">
       <form class="document__form" [formGroup]="form">
         <div class="row">
           <div class="col-md-6 col-xs-12 col-sm-12" style="margin-top: 30px;">
             <!-- <div class="card">
               <div class="card-header">
                 <h4 class="card-title mb-0 label-document">Abrangência</h4>
               </div>
               <div class="card-body">
                 <div class="card-block">

                   <div class="form-body">
                     <div class="row">
                       <div class="col-md-12">
                         <fieldset class="form-group">
                           <ul class="skills" *ngIf="comprehensivenessList">
                             <li class="skills__item" *ngFor="let comprehensiveness of comprehensivenessList">
                               <span class="label-txt">{{ comprehensiveness }}</span>
                               <a><img src="assets/images/icones/trashcan.png" (click)="removeComprehensiveness(comprehensiveness)" alt="ìcone trash" width="18px"></a>
                             </li>
                           </ul>
                         </fieldset>
                       </div>

                       <div class="col-md-12">
                         <fieldset class="form-group">
                           <div class="input-add">
                             <input type="text" class="form-control" id="txtName" formControlName="comprehensiveness">
                             <a style="margin-left: 8px; cursor: pointer;" (click)="addComprehensiveness()"><img src="assets/images/icones/plus.png" alt="Icon plus"></a>
                           </div>
                         </fieldset>
                      </div>

                   </div>

                   </div>
                 </div>
               </div>
             </div> -->

            <div class="card">
              <div class="card-header">
                <h4 class="card-title mb-0 label-document">Soluções</h4>
              </div>
              <div class="card-body">
                <div class="card-block">

                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-12">
                        <fieldset class="form-group">
                          <select class="form-control" formControlName="category" [(ngModel)]="service.category">
                            <option *ngFor="let solution of solutions" [ngValue]="solution">{{ solution.name }}</option>
                          </select>
                        </fieldset>
                     </div>

                  </div>

                  </div>
                </div>
              </div>
            </div>
           </div>

           <div class="col-md-6 col-xs-12 col-sm-12" style="margin-top: 30px;">
             <div class="card">
               <div class="card-header">
                 <h4 class="card-title mb-0 label-document">Habilitação</h4>
               </div>
               <div class="card-body">
                 <div class="card-block">

                   <div class="form-body">
                     <div class="row">
                      
                       <div class="col-md-12">
                         <fieldset class="form-group">
                           <div class="input-add" style="margin-top: 0px;">
                             <input type="text" class="form-control" id="txtName" formControlName="license">
                             <a style="margin-left: 8px; cursor: pointer;" (click)="addLicense()"><img src="assets/images/icones/plus.png" alt="Icon plus"></a>
                           </div>
                         </fieldset>
                      </div>

                       <div class="col-md-12">
                         <fieldset class="form-group">
                           <ul class="skills" *ngIf="licenseList">
                             <li class="skills__item" *ngFor="let license of licenseList">
                               <span class="label-txt">{{ license }}</span>
                               <a class="icon-cursor"><img src="assets/images/icones/trashcan.png" (click)="removeLicense(license)" alt="ìcone trash" width="18px"></a>
                             </li>
                           </ul>
                         </fieldset>
                       </div>

                   </div>

                   </div>
                 </div>
               </div>
             </div>

             <div class="card">
               <div class="card-header">
                 <h4 class="card-title mb-0 label-document" style="height: 3px;">Referências Legais e Normativos</h4>
               </div>
               <div class="card-body">
                 <div class="card-block">

                   <div class="form-body">
                     <div class="row">
                       <div class="col-md-12">
                         <fieldset class="form-group">
                           <ul class="skills" *ngIf="referencesList">
                             <li class="skills__item" *ngFor="let reference of referencesList">
                               <span class="label-txt">{{ reference.name }}</span>
                               <a class="icon-cursor"><img src="assets/images/icones/trashcan.png" alt="ìcone trash" width="18px" (click)="removeReferences(reference)"></a>
                             </li>
                           </ul>
                         </fieldset>
                       </div>

                       <div class="col-md-12">
                         <fieldset class="form-group">
                           <div class="input-add">
                             <select  class="form-control" id="txtName" formControlName="references">
                               <option *ngFor="let reference of references" [ngValue]="reference">{{ reference.name }}</option>
                             </select>
                             <a style="margin-left: 8px; cursor: pointer;" (click)="addReferences()"><img src="assets/images/icones/plus.png" alt="Icon plus"></a>
                           </div>
                         </fieldset>
                      </div>

                   </div>

                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>

      </form>
    </div>

    <div class="form-actions">
        <div class="text-right">
          <button type="submit" class="btn btn-round btn-primary btn-lg" style="display: inline-block;" (click)="saveService()" [disabled]="!form.valid">Próximo</button>
        </div>
    </div>

    <br><br>
  </div>
</div>
