<div class="section" style="height: 75vh;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="info-header">
            <h2 class="title-page text-center">Esqueci a senha</h2>
  
            <p class="info-description text-center">
              Insira o seu email para recuperação de senha
            </p>
          </div>
  
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="form-account">
            <form class="form" (submit)="onSubmit()" [formGroup]="form">
                <div class="form-body">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12">
                          <fieldset class="form-group">
                            <label class="input-label">Email</label>
                            <input type="text" class="form-control input-form" formControlName="email">
                            <small class="form-text text-muted danger" *ngIf="!form.get('email').valid && (form.get('email').dirty || form.get('email').touched)">Informe um Email válido</small>
                          </fieldset>
                        </div>
                      </div>
                  </div>
  
                  <div class="form-actions">
                      <div class="text-center">
                        <button [disabled]="!form.valid" type="submit" class="btn btn-round btn-primary btn-lg" style="display: inline;">Salvar</button>
                      </div>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>