<footer class="section footer">
    <div class="container">
      <div class="row">
        <div class="footer-group col-md-4 col-sm-5 col-xs-4">
          <div class="social">
            <img class="icon-white" src="assets/images/icones/facebook.svg" alt="Ícone do facebook">
            <img class="icon-white" src="assets/images/icones/twitter.svg" alt="Ícone do twitter">
            <img class="icon-white" src="assets/images/icones/linkedin-social-outline-logotype.svg" ALT="Ícone do Linkedin">
          </div>
        </div>

        <div class="footer-group col-md-5 col-sm-4 col-xs-8">
          <ul class="footer__links">
              <li class="footer__link">Carreiras</li>
              <li class="footer__link">Ajuda</li>
              <li class="footer__link">Dados da Empresa</li>
              <li class="footer__link">Condições</li>
              <li class="footer__link">Política de Privacidade</li>
              <li class="footer__link">Mapa do Site</li>
          </ul>
        </div>

        <div class="col-xs-12 visible-xs"><br></div>
        <div class="col-xs-4 visible-xs"></div>
          <div class="footer-group col-md-3 col-sm-3 col-xs-6">
            <div class="lang">
              <img src="assets/images/icones/globe-icon.png" width="60px" class="pointer" (click)="redirectPersonal()">
              <span class="lang-label">Português</span>
            </div>
            <span class="copyright">&copy; 2018 MybuildingNet</span>
          </div>

      </div>
    </div>
  </footer>
